{% extends "layout.html" %}

{% block body %}
    <!-- Main Content -->
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title text-center">
                    Melikşah Bilir
                </h2>
                <p class="post-subtitle text-center">
                    Python ve Django bilgilerimi kullanarak hazırlamış olduğum bu demo sitede gezinebilmek için 
                    gerekli kullanıcı adı ve şifre bilgileri aşağıdaki gibidir.
                    <br>
                    <strong>Kullanıcı Adı : rootUser</strong>
                    <br>
                    <strong>Şifre : toor0124</strong>
                </p>
            </div>            
        </div>
    </div>

{% endblock %}